/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: dimgrey;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #B91A50;
}
